.App {
    text-align: center;
}

.Header {
    font-family: 'Poller One', cursive;
    color: #443e3e;
    text-shadow: 1px 1px 5px #fff;
}

/* write your parent styles in here for your App.js */

.name-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    color: #ffd700;
    text-shadow: black 0.1em 0.1em 0.2em;
}

ul {
    font-family: Oswald;
    list-style-type: none;
    text-shadow: white 0.1em 0.1em 0.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    padding-right: 2rem;
}

.label {
    font-weight: bold;
    align-self: flex-end;
}

.nextNull {
    display: none;
}

.prevNull {
    display: none;
}